@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.btnMenu:hover{
  background-color: black;
}

.home{
  position: absolute;
  right: 20px;
  margin-right: 20px;

}

mat-list {
  margin-top: 50px;
  margin-left: 20px;

}
